---
import { getLangFromUrl } from "../../i18n/utils";
import InterSectionText from "../molecules/InterSectionText.astro";

interface IndexData {
  advantage: {
    preheading?: string;
    title: string;
    description: string;
    advantages: AdvantageItem[];
  };
}

interface AdvantageItem {
  icon: string;
  title: string;
  text: string;
}

const lang = getLangFromUrl(Astro.url);
const allData = import.meta.glob<IndexData>("../../data/*/indexData.json", {
  eager: true,
});
const matchedEntry = Object.entries(allData).find(([path]) =>
  path.includes(`/${lang}/`)
);
const indexData = matchedEntry?.[1];
---

<div
  class="sectionFeatures max-w-[1600px] mx-auto md:overflow-x-hidden lg:overflow-x-visible pb-30"
  id="features"
>
  <div class="md:w-[90%] lg:w-[80%] 2xl:w-[70%] mx-auto">
    <InterSectionText
      preheading={indexData?.advantage?.preheading}
      title={indexData?.advantage?.title}
      classTitle="advantageSectionTitle"
      description={indexData?.advantage?.description}
      classDesc="advantageSectionDesc"
      marginDesc="mx-4 2xl:mx-[10%]"
    />
  </div>
  <div
    class="relative sectionAdvantage flex flex-col items-stretch justify-center gap-8 md:gap-16 mx-12 py-12 md:flex-row"
  >
    <div
      class={`absolute top-[10%] z-0 blur-[100px] bg-[conic-gradient(from_-1deg_at_50%_50%,_#E601B4_8.85deg,_#0A0C10_54.77deg,_#1C0F24_120.78deg,_#B028CC_175.08deg,_#0A0C10_227.56deg,_#1D4ED8_270.76deg,_#0B0D11_304.15deg)] w-[100%] h-[80%] md:w-[10%] md:h-[300%] md:-top-[100%] md:blur-[175px] md:rotate-[90deg] opacity-60 md:opacity-100`}
    >
    </div>
    <!--p class="text-[#999]">¿Por qué elegirnos?</p-->
    {
      indexData?.advantage?.advantages.map((item, i) => (
        <div
          class={`flex-1 advantageCard z-10 flex flex-col w-full justify-center items-center bg-[linear-gradient(180deg,_rgba(255,255,255,0.03)_0%,_rgba(11,12,17,0.03)_100%)] px-4 py-6 gap-6 rounded-xl backdrop-blur-[75px] border-[rgba(255,255,255,0.05)] border-1 md:max-w-[300px]`}
        >
          <div>
            <img src={item.icon} alt={item.title} class="w-12 h-12" />
          </div>

          <div class="flex flex-col items-center gap-4">
            <h4 class="text-white text-xl text-center leading-[110%] font-extrabold px-8">
              {item.title}
            </h4>
            <p class="text-[rgba(255,255,255,.5)] text-center px-8">{item.text}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>
<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  let tl = gsap.timeline({
    scrollTrigger: {
      trigger: ".sectionFeatures",
      start: "top 80%",
      toggleActions: "restart none none reset",
    },
  });

  tl.from(".advantageSectionTitle", {
    duration: 1,
    scale: 0.8,
    opacity: 0,
    ease: "sine.out",
  })
    .from(
      ".advantageSectionDesc",
      {
        duration: 1,
        scale: 0.9,
        opacity: 0,
        ease: "sine.out",
      },
      "-=.5"
    )
    .from(".advantageCard", {
      duration: 1.2,
      y: 40,
      opacity: 0,
      ease: "sine.out",
      stagger: 0.3,
    });
</script>
