---
import RightArrow from "../icons/RightArrow.astro";
import SectionTitle from "../molecules/SectionTitle.astro";

import { getLangFromUrl } from "../../i18n/utils";

interface Title {
  title: string;
  subtitle: string;
}

interface FaqItem {
  question: string;
  description: string;
}

interface FaqSection {
  title: Title;
  faq: {
    [key: string]: FaqItem; // faq1, faq2, etc.
  };
}

interface IndexData {
  faqSection: FaqSection;
}

const lang = getLangFromUrl(Astro.url);
const allData = import.meta.glob<IndexData>("../../data/*/indexData.json", {
  eager: true,
});
const matchedEntry = Object.entries(allData).find(([path]) =>
  path.includes(`/${lang}/`)
);
const indexData = matchedEntry?.[1];

const faq = indexData?.faqSection.faq ?? {};
---

<section class="relative overflow-x-hidden pb-40 md:pb-60">
  <div
    class="relative flex flex-col gap-8 mt-12 mx-auto w-[90%] max-w-[1600px] md:mx-auto md:px-[10%]"
  >
    <SectionTitle
      title={indexData?.faqSection?.title?.title}
      description={indexData?.faqSection?.title?.subtitle}
    />
    <div class="flex flex-col gap-4 z-10">
      {
        Object.entries(faq).map(([id, item]) => (
          <details class="group rounded-xl px-4 py-2 border border-[rgba(255,255,255,0.13)] hover:border-[rgba(255,255,255,0.25)] transition-all duration-300">
            <summary
              class="flex items-center gap-2 cursor-pointer list-none"
              aria-label={`Abrir pregunta frecuente ${id}`}
            >
              <span class="transition-transform group-open:rotate-90">
                <RightArrow />
              </span>
              <h3 class="text-[#eee] font-normal leading-[110%] text-base">
                {item.question}
              </h3>
            </summary>
            <div class="text-[#b9b9b9] pr-4 mt-2 text-sm font-normal leading-[150%]">
              {item.description}
            </div>
          </details>
        ))
      }
    </div>
  </div>

  <div
    class={`absolute top-80 -left-40 w-[350px] h-[380px] bg-[conic-gradient(from_-5deg_at_50%_50%,_rgba(230,1,180,0.6)_2.18deg,_rgba(230,1,180,0.6)_72.05deg,_rgba(10,12,16,0.6)_91deg,_rgba(176,40,204,0.6)_117.7deg,_rgba(10,12,16,0.6)_227.56deg,_rgba(127,52,245,0.6)_287.44deg,_rgba(29,78,216,0.6)_360deg)] rounded-full blur-[125px] opacity-100 z-0 rotate-[46deg]`}
  >
  </div>
  <div
    class={`absolute top-65 -right-30 w-[350px] h-[380px] bg-[conic-gradient(from_-5deg_at_50%_50%,_rgba(230,1,180,0.6)_2.18deg,_rgba(230,1,180,0.6)_72.05deg,_rgba(10,12,16,0.6)_91deg,_rgba(176,40,204,0.6)_117.7deg,_rgba(10,12,16,0.6)_227.56deg,_rgba(127,52,245,0.6)_287.44deg,_rgba(29,78,216,0.6)_360deg)] rounded-full blur-[125px] opacity-100 z-0 rotate-[46deg]`}
  >
  </div>
</section>
<script>

</script>
