---
import RightArrow from "../icons/RightArrow.astro";
import SectionTitle from "../molecules/SectionTitle.astro";

import { getLangFromUrl } from "../../i18n/utils";

interface Title {
  title: string;
  subtitle: string;
}

interface FaqItem {
  question: string;
  description: string;
}

interface FaqSection {
  title: Title;
  faq: {
    [key: string]: FaqItem; // faq1, faq2, etc.
  };
}

interface IndexData {
  faqSection: FaqSection
}

const lang = getLangFromUrl(Astro.url);
const allData = import.meta.glob<IndexData>("../../data/*/indexData.json", {
  eager: true,
});
const matchedEntry = Object.entries(allData).find(([path]) =>
  path.includes(`/${lang}/`)
);
const indexData = matchedEntry?.[1];

const faq = indexData?.faqSection.faq ?? {};
---

<div class="flex flex-col gap-8 mt-12 mx-8">
  <SectionTitle
    title={indexData?.faqSection?.title?.title}
    description={indexData?.faqSection?.title?.subtitle}
  />
  <div class="flex flex-col gap-4">
    {
      Object.entries(faq).map(([key, item]) => (
        <div
          class="flex rounded-xl py-2 px-4 items-start border border-[#222]"
          id={`faq-${key}`}
        >
          <button
            class="pr-2 transition-all duration-300"
            aria-label={`Abrir pregunta frecuente no ${key}`}
            data-toggle={`faq-${key}`}
          >
            <RightArrow />
          </button>
          <div class="flex flex-col gap-2">
            <h3 class="text-[#ddd] font-regular">{item.question}</h3>
            <p class="hidden text-[#858585] pr-4 transition-all duration-300 text-md font-light">
              {item.description}
            </p>
          </div>
        </div>
      ))
    }
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll("button[data-toggle]").forEach((button) => {
      button.addEventListener("click", () => {
        const id = button.getAttribute("data-toggle");
        const arrow = button.querySelector("svg");
        const faq = document.querySelector(`#${id} p`);
        if (faq && arrow) {
          arrow.classList.add("transition-all");
          arrow.classList.add("duration-300");
          arrow.classList.toggle("rotate-90");
          faq.classList.toggle("hidden");
        }
      });
    });
  });
</script>
