---
import Image from "astro/components/Image.astro";
import smileEmoji from "../../images/Emojis/smile.png";
import CtaButton from "../atoms/CtaButton.astro";
import WhatsappIcon from "../icons/WhatsappIcon.astro";
import LogoSmall from "../atoms/LogoSmall.astro";

import { getLangFromUrl } from "../../i18n/utils";

interface IndexData {
  hero: {
    title: string;
    subtitle: string;
    description: string;
    cta: string;
    altCta: string;
    email: string;
  };
}

const lang = getLangFromUrl(Astro.url);
const allData = import.meta.glob<IndexData>("../../data/*/indexData.json", {
  eager: true,
});
const matchedEntry = Object.entries(allData).find(([path]) =>
  path.includes(`/${lang}/`)
);
const indexData = matchedEntry?.[1];

const title = indexData?.hero?.title;
const subtitle = indexData?.hero?.subtitle;
const description = indexData?.hero?.description;
const cta = indexData?.hero?.cta;
const altCta = indexData?.hero?.altCta;
const email = indexData?.hero?.email;
---

<section
  class="relative sectionHero overflow-hidden pt-20 md:pt-0"
  id="heroSection"
>
  <div
    class="z-10 flex flex-col items-center justify-center gap-8 pt-6 pb-12 px-4 md:p-0 md:min-h-screen"
  >
    <div
      class={`absolute -top-40 md:-top-[20] -right-40 md:-right-[20] w-[350px] md:w-[500px] h-[450px] md:h-[850px] md:rotate-[-65deg] bg-[conic-gradient(from_-5deg_at_50%_50%,_rgba(230,1,180,0.6)_2.18deg,_rgba(230,1,180,0.6)_72.05deg,_rgba(10,12,16,0.6)_91deg,_rgba(176,40,204,0.6)_117.7deg,_rgba(10,12,16,0.6)_227.56deg,_rgba(127,52,245,0.6)_287.44deg,_rgba(29,78,216,0.6)_360deg)] rounded-full blur-[125px] md:blur-[175px] opacity-100 z-0`}
    >
    </div>
    <img
      src="/images/bg/blobs.png"
      class="absolute -top-[0%] -right-[18%] w-[50vw] md:-top-[10%] md:w-[40vw] lg:-top-[28%] lg:-right-[8%] lg:w-[35vw] aspect-square object-contain"
      alt="Blob"
    />
    <img
      src="/images/bg/blobs.png"
      class="hidden md:flex absolute top-[5%] -left-[10%] w-[50vw] md:-top-[20%] md:w-[35vw] lg:top-[50%] 2xl:top-[40%] lg:-left-[5%] lg:w-[35vw] aspect-square object-contain -rotate-130"
      alt="Blob"
    />

    <div class="flex flex-col items-center">
      <div class="flex flex-col gap-12">
        <div
          class="max-w-[1600px] md:w-[90%] mx-auto flex flex-col gap-6 md:gap-10 justify-center items-center"
        >
          <div class="flex justify-center">
            <span
              class="px-8 textIntroHero leading-[110%] text-2xl md:text-[40px] text-center font-extrabold bg-[linear-gradient(90deg,_#00CFFF_0%,_#FF00C8_100%)] bg-clip-text text-transparent bg-[length:100%_100%]"
            >
              {title}
            </span>
          </div>
          <h1
            class="headingHero text-[#ddd] text-7xl md:text-[110px] leading-none font-extrabold text-center text-medium bg-[linear-gradient(180deg,_#FFF_0%,_rgba(255,255,255,.4)_100%)] bg-clip-text text-transparent bg-[length:100%_100%]"
          >
            {subtitle}
          </h1>
          <p
            class="descriptionHero text-[#7B7E80] text-center text-lg md:text-[22px] md:max-w-[45%] leading-[150%] font-light"
          >
            {description}
          </p>
        </div>

        <div class="flex flex-col items-center gap-4">
          <CtaButton
            text={cta}
            ariaLabel={cta}
            color="#1D4ED8"
            icon={WhatsappIcon}
          />
          <p
            class="text-[#858585] text-center text-sm flex flex-col items-center font-light"
          >
            {altCta}
            <a
              href="#"
              aria-label="Enviar correo electronico directo a info@aciduslabs.com"
              class="text-[#4DA2DA]">{email}</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  let tl = gsap.timeline({
    scrollTrigger: {
      trigger: ".sectionHero",
      start: "top 80%",
      toggleActions: "restart none none reset",
    },
  });

  tl.from(".gradientEmojiHero", {
    duration: 1.2,
    scale: 0.6,
    opacity: 0,
    ease: "sine.out",
  })
    .from(
      ".emojiHero",
      {
        duration: 1.6,
        scale: 1.2,
        opacity: 0,
        ease: "expo.out",
      },
      "-=1.25"
    )
    .from(
      ".textIntroHero",
      {
        duration: 1.5,
        scale: 1.2,
        opacity: 0,
        ease: "power3.out",
      },
      "-=1.25"
    )
    .from(
      ".headingHero",
      {
        duration: 1.2,
        scale: 1.2,
        opacity: 0,
        ease: "sine.out",
      },
      "-=1.1"
    )
    .from(
      ".descriptionHero",
      {
        duration: 1.2,
        scale: 1.2,
        opacity: 0,
        ease: "sine.out",
      },
      "-=1.1"
    );
</script>
